.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-card {
  width: 30%;
}

.card-title {
  text-align: left !important;
  font-weight: bold !important;
}

#login-btn {
  width: max-content;
}

.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

.red {
  color: red;
}
