.app-header {
  background-color: #263238;
  height: 44px;
  /* padding: 8px 16px 8px 16px; */
}

.flex-container-header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  width: 8%;
  text-align: center;
}

.app-logo-text {
  color: #fff;
  font-size: 18px;
}

.homepage-header {
  width: max-content;
  display: flex;
}

.homepage-header > div {
  margin-right: 15px;
}
